* {
    padding: 0;
    margin: 0;
}

main {
    margin-top: 40px;
}

body {
   background-color: #FC8EAC;
   text-align: center;  
}

.container {
    height: 70vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}


.Game {
    height: 60vmin;
    width: 60vmin; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.block {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 0.5rem black;
    font-size: 8vmin;
    color: #FF007F ;
    background-color: #ffe9ef;
}

button {
   padding: 1rem;
   font-size: 1.25rem;
   background-color: #FF007F;
   border-radius: 1rem;
   color: aliceblue;
   border: none;
   cursor: pointer;
}

button:hover{
    background-color: #Ff447F;
}

#newgame {
     padding: 1rem;
   font-size: 1.25rem;
   background-color: #FF007F;
   border-radius: 1rem;
   color: aliceblue;
   border: none;
}

#msg {
    color: #560238 ;
    font-size: 5vmin;
}

.winner {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #FC8EAC;
}

#start-screen {
    position: fixed;
    inset: 0;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    background-color: #FC8EAC;
    z-index: 100;
}

.heading {
    font-size: 5rem;
    padding: 3rem;
    color: #1B1F3B;
}

#start-screen.hide {
    display: none;
}

.hide {
    display: none;
}