* {
    padding: 0;
    margin: 0;
}

main {
    margin-top: 40px;
}

body {
   background-color: #FC8EAC;
   text-align: center;  
}

.container {
    height: 70vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}


div2 {
    height: 60vmin;
    width: 60vmin; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.block {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 0.5rem black;
    font-size: 8vmin;
    color: #FF007F ;
    background-color: #ffe9ef;
}

#reset {
   padding: 1rem;
   font-size: 1.25rem;
   background-color: #FF007F;
   border-radius: 1rem;
   color: aliceblue;
   border: none;
}

#newgame {
     padding: 1rem;
   font-size: 1.25rem;
   background-color: #FF007F;
   border-radius: 1rem;
   color: aliceblue;
   border: none;
}

#msg {
    color: #560238 ;
    font-size: 5vmin;
}

.winner {
    margin: 30vmin;
    gap: 5vmin;
    margin-bottom: 300px;
    margin-top: 300px;
}

.hide {
    display: none;
}